
  {{>headerNav}}
  <section class='hero m-auto is-large'>

    <div class='container is-fluid columns is-centered'>

      <div class='is-flex is-justify-content-space-evenly p-5 has-background-dark'>

        <div class="columns is-desktop">

          <div class="column ">
            <div class='card m-1'>
              <div class="card-content">
                <h1 class='box title is-3 has-text-black has-text-centered has-background-link  '>Project Team</h1>
                <div class="tags are-medium m-0">
                  <span class="tag has-background-warning">Projects</span>
                </div>
                <div class="field">
                  <div class="control">
                    <div class="select">
                      <select>
                        <option>Select from available open projects</option>
                        <option>With options</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="tags are-medium m-0">
                  <span class="tag has-background-warning">Team Name</span>
                </div>
                <div class="field">
                  <div class="control">
                    <input class="input" type="text" placeholder="Text input">
                  </div>
                </div>
                <div class="tags are-medium m-0">
                  <span class="tag has-background-warning">Employee</span>
                </div>
                <div class="field">
                  <div class="control">
                    <div class="select">
                      <select>
                        <option>Select from available employees</option>
                        <option>With options</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="field">
                  <div class="control">
                    <input class="input" type="text" placeholder="Text input">
                  </div>
                </div>
                <div class='field m-2'>
                  <button class='button is-primary'>Save Employee</button>
                </div>
              </div>
            </div>
          </div>
          <div class="column ">
            <div class='card m-1'>
              <div class="card-content">
                <h1 class='box title is-3 has-text-black has-text-centered has-background-link'>Team Members</h1>
                <div class="container ">
                  <div class="box has-background-warning">

                    <div class="box ">

                    </div>
                  </div>
                </div>
                <div class='field m-3 '>
                  <button class='button is-primary'>Create Team</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


