

<section id="modalCreateProject" class="moda">
  <div class="modal-background"></div>
  <div class="modal-card">

    <div class="hero m-auto is-large">

      <div class="container is-fluid columns is-centered">

        <div
          class="is-flex is-justify-content-space-evenly p-5 has-background-info-dark"
        >

          <div class="columns is-desktop">

            <div class="column">
              <div class="card">
                <div class="card-content">
                  <h1
                    class="box title has-text-white has-text-centered has-background-info-dark"
                  >Create a New Project
                  </h1>
                  <div class="columns">
                    <div class="column is-4 mr-1 mt-1">
                      <div class="tags are-medium">
                        <span class="tag has-background-warning">Project Name</span>
                      </div>
                    </div>
                    <div class="column is-8">
                      <div class="field">
                        <div class="control">
                          <input
                            class="input"
                            type="text"
                            placeholder="Input Project Name"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="columns">
                    <div class="column is-4 mr-1 mt-1">
                      <div class="tags are-medium">
                        <span class="tag has-background-warning">Deadline</span>
                      </div>
                    </div>
                    <div class="column is-8">
                      <div class="field">
                        <div class="control">
                          <input
                            class="input"
                            type="text"
                            placeholder="Input Date"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="field is-grouped is-grouped-centered">
                    <p class="control">
                      <a class="button is-primary">
                        Create Project
                      </a>
                    </p>
                    <p class="control">
                      <a onclick="closeModalProj()" class="button is-light">
                        Cancel
                      </a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>