<section id='taskModal' class='taskModal'>
  <div class='modal-background'></div>
  <div class='modal-card'>
    <div class='hero m-auto is-large'>
      <div class='container is-fluid columns is-centered'>
        <div class='is-flex is-justify-content-space-evenly p-5 has-background-dark' >
          <div class='columns is-desktop'>
            <div class='column'>
              <div class='card m-1'>
                <div class='card-content'>
                  <h1
                    class='box title is-3 has-text-black has-text-centered has-background-link'
                  >Create a New Task
                  </h1>
                  <div class='columns'>
                    <div class='column'>
                      <div class='tags are-medium'>
                        <span class='tag has-background-warning'>Task</span>
                      </div>
                      <div class='tags are-medium'>
                        <span class='tag has-background-warning'>Deadline</span>
                      </div>
                      <div class='tags are-medium'>
                        <span class='tag has-background-warning'>Assign</span>
                      </div>
                    </div>
                    <div class='column'>
                      <div class='field'>
                        <div class='control'>
                          <input
                            class='input'
                            type='text'
                            placeholder='Text input'
                          />
                        </div>
                      </div>
                      <div class='field'>
                        <div class='control'>
                          <input
                            class='input'
                            type='text'
                            placeholder='Text input'
                          />
                        </div>
                      </div>
                      <div class='field'>
                        <div class='control'>
                          <div class='select'>
                            <select>
                              <option>Select from available open projects</option>
                              <option>With options</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class='tags are-medium m-0'>
                    <span class='tag has-background-warning'>Projects</span>
                  </div>
                  <textarea
                    class='textarea is-info'
                    placeholder='Info textarea'
                  ></textarea>
                  <div class='field cardFoot m-2'>
                    <button class='button is-success'>Save Task</button>
                    <button class='closeModal'>Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>