{{! <form class='box' id='create-project'>

</form> }}
<section id='modalCreateProject' class='modal'>
  <div class='modal-background'></div>
  <div class='modal-card'>
    <div class='hero m-auto is-medium'>
      <div class='container is-fluid columns is-centered'>
        <div
          class='card is-flex is-justify-content-space-evenly p-5 has-background-info-dark'
        >
          <div class='columns is-desktop'>
            <div class='column'>
              <div class='card'>
                <div class='card-content'>
                  <h1
                    class='box title has-text-white has-text-centered has-background-info-dark'
                  >Create
                    <br />A New Project
                  </h1>
                  <div class='columns'>
                    <div class='column is-4'>
                      <div>
                        <span
                          class='button is-static has-background-warning has-text-weight-medium'
                        >Project</span>
                      </div>
                    </div>
                    <div class='column is-8 mr-1'>
                      <div class='field'>
                        <div class='control'>
                          <input
                            id='project-title'
                            class='input'
                            type='text'
                            placeholder='Input Project Name'
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class='columns'>
                    <div class='column is-4'>
                      <div>
                        <span
                          class='button is-static has-background-warning'
                        >Deadline</span>
                      </div>
                    </div>
                    <div class='column is-8 mr-1'>
                      <div class='field'>
                        <div class='control'>
                          <input
                            id='project-deadline'
                            class='input'
                            type='date'
                            value=''
                            placeholder='DD-MM-YYYY'
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class='field is-grouped is-grouped-centered'>
                    <p class='control'>
                      <a id='create-project-btn' class='button is-primary'>
                        Create Project
                      </a>
                    </p>
                    <p class='control'>
                      <a
                        class='button has-background-danger has-text-white'
                        onclick='closeModalProj()'
                      >
                        Cancel
                      </a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
<script src='../../public/js/createProject.js'></script>