<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <script src='https://code.iconify.design/2/2.1.2/iconify.min.js'></script>
    <link rel='stylesheet' href='/css/styles.css' />
    <script type='text/javascript' src='/js/model.js'></script>
    <title>Team Task Manager</title>
  </head>
  <body
    class='hero has-background-grey-darker is-fullheight is-justify-content-center'
  >
    {{{body}}}

    <script src='/js/logout.js'></script>
    <script src='/js/createProject.js'></script>
  </body>
</html>