{{>headerNav}}
  <section class='hero m-auto is-large '>
    <div class='container is-fluid columns is-centered'>
      <div class='is-flex is-justify-content-space-evenly p-5 has-background-info-dark '>
        <div class="columns is-desktop">
          <div class="tile is-ancestor m-1">
                   <div class="tile is-12 is-parent">
              <div class="tile is-child box">
                <h1 class='box title is-3 has-text-white has-text-centered has-background-info-dark '>All Team Tasks
                </h1>
                <div class="tile is-child box has-background-warning ">
                  <p class="is-size-5">All Project Tasks Assigned to Team</p>
                  <div class="columns">
                    <div class="column">
                      <div class="tabs is-toggle is-fullwidth has-background-link-light mb-0">
                        <ul>
                          <li class="is-active has-text-weight-bold">
                            <a>
                              <p class="mr-1">60</p>
                              <span>All</span>
                            </a>
                          </li>
                          <li>
                            <a>
                              <p class="mr-1 has-text-success ">20</p>
                              <span>Completed</span>
                            </a>
                          </li>
                          <li>
                            <a>
                              <p class="mr-1 has-text-warning-dark">20</p>
                              <span>InProgress</span>
                            </a>
                          </li>
                          <li>
                            <a>
                              <p class="mr-1 has-text-danger">20</p>
                              <span>Not Started</span>
                            </a>
                          </li>
                        </ul>
                      </div>
                      <div class=" box">
                        <div class="column is-align-items-center">
                          <table class="table is-scrollable">
                            <thead>
                              <tr>
                                <th><abbr title="Position">Pos</abbr></th>
                                <th>Task Title</th>
                                <th>Deadline Date</th>
                                <th>Task Status</th>
                              </tr>
                            </thead>
                            <tfoot>
                              <tr>
                                <th><abbr title="Position">Pos</abbr></th>
                                <th>Task Title</th>
                                <th>Deadline Date</th>
                                <th>Task Status</th>
                              </tr>
                            </tfoot>
                            <tbody>
                              <tr>
                                <th>1</th>
                                <td>
                                  <p>task one of many many many</p>
                                </td>
                                <td> <p>21/04/2022</p>
                                </td>
                                <td> <p>Not Started</p>
                                </td>
                              </tr>
                              <tr>
                                <th>2</th>
                                <td>
                                  <p>task two of many many many</p>
                                </td>
                                 </td>
                                <td> <p>21/04/2022</p>
                                </td>
                                <td> <p>Not Started</p>
                                </td>
                              </tr>
                              <tr>
                                <th>3</th>
                                <td>
                                  <p>task threeof many many many</p>
                                </td>
                                 </td>
                                <td> <p>09/04/2022</p>
                                </td>
                                <td> <p>Not Started</p>
                                </td>
                              </tr>
                              <tr>
                                <th>4</th>
                                <td>
                                  <p>task four of many many many</p>
                                </td>
                                 </td>
                                <td> <p>12/04/2022</p>
                                </td>
                                <td> <p>Not Started</p>
                                </td>
                              </tr>
                              <tr>
                                <th>5</th>
                                <td>
                                  <p>task five of many many many</p>
                                </td>
                                 </td>
                                <td> <p>06/04/2022</p>
                                </td>
                                <td> <p>Not Started</p>
                                </td>
                              </tr>

                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                        <div class='buttons '>
                          <a class='button has-background-info-dark has-text-white'>View Team
                          </a>
                                                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
