{{>headerNav}}
<section class='hero m-auto is-large'>
  <div class='container is-fluid columns is-centered '>
    <div class='card is-flex is-justify-content-space-evenly p-5 has-background-info-dark'>
      <div class="columns is-desktop">
        <div class="column is-8">
          <div class='card m-1'>
            <div class="card-content">
              <h1 class='box title is-3 has-text-white has-text-centered has-background-info-dark '>Project Team</h1>
              
              <div class='columns'>
                <div class='column is-12'>
                  <div class="mb-2">
                    <span class='button is-static has-background-warning '>Team Name</span>
                  </div>

                  <div class='field'>
                    <div class='control'>
                      <input class='input' type='text' placeholder='Team Name' />
                    </div>
                  </div>
                </div>
              </div>
              <div class='columns'>
                <div class='column is-12'>
                  <div class="mb-2">
                    <span class='button is-static has-background-warning '>Employee</span>
                  </div>
                  <div class="field">
                    <div class="control mb-0">
                      <div class="select">
                        <select>                     
                          {{#each users as |user|}}                       
                           <option value='/users/{{user.id}}'>{{user.first_name}} {{user.last_name}}</option>
                          {{/each}}
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {{!-- <div class="control mt-0">
                <input class="input" type="text" value="employee role here" Employee Role>
              </div> --}}
              <div class='field m-2'>
                <button class='button is-primary'>Save Employee</button>
              </div>
            </div>
          </div>
        </div>

        <div class="columns is-desktop mt-0">
          <div class="column ">
            <div class='card m-1'>
              <div class="card-content">
                <h1 class='box title is-3 has-text-white has-text-centered has-background-info-dark'>Team Members</h1>
                <div class="container ">
                  <div class="box has-background-warning">

                    <div class="box ">
                        {{!-- added users --}}
                    </div>
                  </div>
                </div>
                <div class='field m-3 '>
                  <button class='button is-primary'>Create Team</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
<script src="/js/managerPg.js"></script>