<section class='level m-5'>
  <div class='container  is-fluid'>
    <div class=' columns is-centered level'>
      <div>
        <div class='box column has-background-info-dark'>
          <form class='box' id='login-form'>
            <div class='has-text-centered'>
              <figure class='image image is-48x48 is-inline-block'>
                <img src='https://bulma.io/images/placeholders/128x128.png' />
              </figure>
            </div>
            <h1 class='title is-1 has-text-black has-text-centered'>Team Task
              Manager</h1>
                       <div class='field'>
              <label for='username' class='label'>Username</label>
              <div class='control'>
                <input
                  class='input'
                  type='text'
                  placeholder='username'
                  id='username'
                />
              </div>
            </div>
            <div class='field'>
              <label for='password' class='label'>Password</label>
              <div class='control'>
                <input
                  class='input'
                  id='password'
                  type='password'
                  placeholder='********'
                />
              </div>
            </div>
            <div class='field is-flex is-justify-content-space-evenly'>
              <button class='button is-primary'>Login</button>
              <button class='button is-primary'>Sign in</button>
            </div>
            <p class='has-text-centered'>
              Login In To The Team Task Manager / or Create an Account
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script src='/js/login.js'></script>
</section>