{{>headerNav}}
<section class='hero m-auto is-large'>
  <div class='container is-fluid columns is-centered'>
    <div class='is-flex is-justify-content-space-evenly p-5 has-background-info-dark'>
      <div class="columns is-desktop">

        <div class="column ">
          <div class='card m-1'>
            <div class="card-content">
              <h1 class='box title is-3 has-text-black has-text-centered has-background-info-dark '>Project Team</h1>
              <div class="box has-background-warning">

                <div class="box ">

                </div>
              </div>
              <div class="box has-background-warning">

                <div class="box ">

                </div>
              </div>
              <div class="box has-background-warning">

                <div class="box ">

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column ">
        <div class='card m-1'>
          <div class="card-content">
            <h1 class='box title is-3 has-text-black has-text-centered has-background-info-dark'>Team Statistics</h1>
            <div class="container ">
              <div class="tile is-child box has-background-warning ">
                <p class="is-size-5">Team Status</p>
                <div class="columns">
                  <div class="column">
                    <div class="tabs is-toggle is-fullwidth has-background-link-light mb-0">
                      <ul>
                        <li class="is-active has-text-weight-bold">
                          <a>
                            <p class="mr-1">{{teamTasksData.all}}</p>
                            <span>All</span>
                          </a>
                        </li>
                        <li>
                          <a>
                            <p class="mr-1 has-text-success ">{{teamTasksData.completed}}</p>
                            <span>Completed</span>
                          </a>
                        </li>
                        <li>
                          <a>
                            <p class="mr-1 has-text-warning-dark">{{teamTasksData.in_progress}}</p>
                            <span>InProgress</span>
                          </a>
                        </li>
                        <li>
                          <a>
                            <p class="mr-1 has-text-danger">{{teamTasksData.not_started}}</p>
                            <span>Not Started</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class='field m-3 '>
              <button class='button is-primary '>Create Team</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
  </div>
</section>